@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.recharts-surface:focus {
  outline: none;
}

@layer components {
  .line-hover {
    @apply 
    relative
    before:w-0 
    before:h-0.5 
    before:content-[''] 
    before:absolute 
    before:bg-[#3E210F] 
    before:top-full 
    before:transition-[width] 
    before:duration-300
    hover:before:w-full;
  }
  .button-style {
    @apply bg-[#3C604C] text-white px-4 py-2 rounded cursor-pointer hover:bg-[#2F4A3A] transition-colors duration-200 ease-linear;
  }
  .modal-hover {
    @apply hover:bg-[#3C604C]/10 px-4 py-2 rounded cursor-pointer text-left
  }
  .text-brown {
    @apply text-[#3E210F];
  }
  .input-style {
    @apply w-full p-2 outline-none border-2 border-[#3C604C] rounded text-black;
  }
  .message-input-style {
    @apply p-2 border border-gray-300 rounded outline-none;
  }
  .show-hide-password-style {
    @apply text-base;
  }
  .message-error {
    @apply text-red-500 mb-4 bg-red-100 p-4 rounded
  }
  .message-success {
    @apply text-green-500 mb-4 bg-green-100 p-4 rounded;
  }
  .admin-nav-btn-style {
    @apply flex gap-4 items-center px-4 py-2 rounded cursor-pointer hover:bg-[#2F4A3A]/10 transition-colors duration-200 ease-linear;
  }
  .keymetrics-card {
    @apply bg-white shadow-sm rounded-xl p-6 flex-1;
  }
  .keymetrics-card-header {
    @apply flex items-center justify-between mb-4;
  }
  .keymetrics-card-content {
    @apply text-4xl font-bold;
  }
  .keymetrics-card-footer {
    @apply text-sm mt-4;
  }
  .dashboard-card {
    @apply bg-white mt-6 p-6 shadow-sm rounded-xl;
  }
  .dashboard-card-header {
    @apply flex items-center justify-between;
  }
  .dashboard-card-title {
    @apply flex items-center gap-2 text-lg;
  }
  .dashboard-customer-td-style {
    @apply p-2
  }
  .dashboard-customer-th-style {
    @apply p-2
  }
}